<div class="container1">
  <div class="d-flex justify-content-center align-items-end">
    <button mat-mini-fab color="accent"  (click)="calculateTime()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <mat-selection-list #services1>
      <mat-list-option *ngFor="let service of services; index as i" (click)="changeSelectedStatus(service, i)">
        {{service.name}} ({{service.time}} min)
      </mat-list-option>
    </mat-selection-list>
  </div>

  <p class="d-flex justify-content-center">
    <!--  Options selected: {{services1.selectedOptions.selected.length}}-->
    Time: {{appointmentTime}} min
  </p>
</div>

